{% extends "base.html" %}

{% block content %}

<div class="d-flex justify-content-center">

  <div class="container mx-auto mt-3">
    <h1>쓰레드 수정</h1>
    <form action="{% url "books:thread_update" thread.pk %}" method = 'POST' enctype='multipart/form-data'>
      {% csrf_token %}
      {{form.as_p}}
      <button type="input" class="btn btn-outline-success">전송</button>
      <a href="{% url "books:thread_detail" thread.pk %}"><button type="button" class="btn btn-outline-danger">취소</button></a>
    </form>
  </div>
</div>
{% endblock content %}